@import url('../../Resource/Fonts/ldiy-font.css');

#write {
/* ---------------------------------------- 页面的宽度 ---------------------------------------- */
    max-width: 1300px; 

/* ---------------------------------------- 页面的内外距 ---------------------------------------- */
    margin: 100px auto;
    padding: 20px 30px 160px;

/* ---------------------------------------- 页面的底色 ---------------------------------------- */
/** 附录
 [1] rgba(255, 255, 255, b0) <=> rgba(255, 255, 255, 0.69) <=> #ffffffb0，因为(b0)16=(176)10，而176/255=0.69
**/
    /** 淡灰白色，root是浅色背景图，呈现效果很好 **/
    /* background-color: rgba(227, 252, 252, 50%); */
    /** 适用于深色的背景图，定制银色 **/
    /* background-color: rgba(192, 192, 192, 0.8); */ /* 银色 */
    background-color: rgba(255, 241, 240, 0.8); /* 乳白色(浅象牙色) */

/* ---------------------------------------- 页面的边框弧角 ---------------------------------------- */
    border-radius: 10px;

/* ---------------------------------------- 页面的边框阴影 ---------------------------------------- */
/** 附录
 [1] 优势：边框的阴影使得书写页面更加立体
**/
    box-shadow: 2px 2px 10px 1px rgba(188, 48, 48, 0.2);
}